/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow: auto;
  z-index: 1000;
}

.topbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background-color: #444;
  z-index: 1001;
}

.content {
  margin-top: 60px;
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  overflow-y: auto;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  background-color: darkorange;
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
}
