@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");



.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 150%;

  z-index: 1000;
  overflow-x: hidden;
  scrollbar-width: none;

  transition: background-color 0.3s ease;
}

.sidebar:hover {
  background-color: #FF7900;
}

.topbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background-color: #444;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

.topbar:hover {
  background-color: #FF7900;
}

.content {
  margin-top: 60px;
  margin-left: 250px;
  padding: 25px;
  width: calc(100% - 250px);
  overflow-y: auto;
}

.footer {
  padding: 1px;
  text-align: center;
  font-size: 0.8em;
  background-color: #FF7900;
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
}
.menu-item-hover:hover {
  background-color: #FF7900 !important;
}
/* Remove shadow behind icons */
.menu-item-hover .menu-item-icon {
  box-shadow: none !important;
}

/* Remove orange color on burger click */
.sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-footer .pro-menu-item:focus {
  background-color: none !important;
}
/* Media query pour les appareils de taille réduite */
@media (max-width: 960px) {
  .sidebar {
    width: 80px; /* Réduire la largeur de la sidebar */
  }

  .topbar {
    left: 80px; /* Déplacer la topbar vers la droite */
  }

  .content {
    margin-left: 80px; /* Ajuster la marge à gauche du contenu */
    width: calc(100% - 80px); /* Ajuster la largeur du contenu */
  }

  .footer {
    left: 80px; /* Déplacer le footer vers la droite */
  }

  .sidebar .pro-sidebar-inner {
    width: 80px; /* Ajuster la largeur du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-header,
  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-footer {
    display: none; /* Cacher l'en-tête et le footer du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-content {
    padding-top: 0; /* Ajuster le padding top du contenu du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-menu {
    padding-top: 60px; /* Ajuster le padding top du menu du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-menu .pro-menu-item {
    padding: 10px 0; /* Ajuster le padding des éléments du menu du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-menu .pro-menu-item-text {
    display: none; /* Cacher le texte des éléments du menu du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-menu .pro-icon-wrapper {
    padding: 10px; /* Ajuster le padding des icônes du sidebar burger */
  }

  .sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-menu .pro-inner-item {
    padding: 5px 0; /* Ajuster le padding des sous-éléments du sidebar burger */
  }

  .pro-burger-menu {
    display: block; /* Afficher le burger menu */
  }

  .pro-burger-menu .pro-burger-icon {
    color: #FFF; /* Couleur du burger icon */
  }
}
